.order {
  width: 360px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: #000;
}

.orderPriceWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 16px;
  line-height: 28px;
  color: #444;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.name {
  max-width: 170px;
}

.price {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.delimiter {
  border-bottom: 2px solid #000;
}

.total {
  border-bottom: none;
}

.total .name,
.total .price {
  font-weight: 600;
}