.cart {
  width: 100%;
  max-width: 1140px;
  margin: 80px auto 0;
}

.layout {
  display: grid;
  grid-template-columns: 720px 360px;
  column-gap: 60px;
  align-items: flex-start;
}

.leftColumn {
  width: 720px;
}