.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 230px;
}

.header .left-side {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header .left-side .logo-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .left-side .logo-container .burger-menu {
  display: none;
}

.header .left-side .menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header .left-side .menu .menu-item {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
}

.header .left-side .menu .menu-item .arrow-hover {
  display: none;
}

.header .left-side .menu .menu-item:hover,
.header .left-side .menu .menu-item.active {
  color: rgba(255, 142, 142, 1);
}

.header .left-side .menu .menu-item:hover .arrow-default,
.header .left-side .menu .menu-item.active .arrow-default {
  display: none;
}

.header .left-side .menu .menu-item:hover .arrow-hover,
.header .left-side .menu .menu-item.active .arrow-hover {
  display: block;
}

.header .right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .right-side .header-icon {
  position: relative;
}

.header .right-side .header-icon .counter {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(255, 142, 142, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  padding: 0 4px;
}

.header .right-side .header-icon-clickable {
  cursor: pointer;
}