.product {
  width: 720px;
  display: flex;
  position: relative;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.photo {
  width: 130px;
  height: 140px;
  background: #f1f2f3;
  flex-shrink: 0;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.priceWrapper {
  width: 100%;
}

.priceAndQuantity {
  display: grid;
  grid-template-columns: 150px 130px 1fr;
  align-items: center;
  column-gap: 48px;
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;
}

.oldPrice {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #444;
  text-decoration: line-through;
}

.currentPrice {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.quantity {
  background: #f8f8fb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 17px 23px;
}

.countButton {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 23px;
  font-weight: 500;
  line-height: 16px;
  color: #999;
}

.count {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}

.totalPrice {
  justify-self: end;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  color: rgba(68, 68, 68, 0.3);
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
}